<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/extras/spring-security ">

<head th:fragment="html-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <title>LearningQueue</title>
</head>

<body>
<header th:fragment="header" class="header p-6">
    <a th:href="@{/}">
        <img class="w-24" th:src="@{/images/lq-logo.svg}" alt="Logo">
    </a>
    <h1 class="text-xl font-bold">LearningQueue</h1>
    <a th:href="@{/admin}"
       th:if="${#httpServletRequest.requestURI != '/admin'}"
       class="absolute right-2.5 bg-green-400 text-black active:bg-green-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
        Admin</a>
</header>
</body>

</html>