<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="flex flex-col sm:flex-row flex-wrap max-w-full sm:items-center" aria-label="Search bar" th:fragment="search-bar">
<!--    <div class="relative w-12/12 sm:w-6/12 ml-4 mt-4 mr-4 sm:mr-0">-->
<!--        <span class="absolute inset-y-0 left-0 pl-3 flex items-center">-->
<!--            <svg class="h z-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">-->
<!--                <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"-->
<!--                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--            </svg>-->
<!--        </span>-->

<!--        <input class="w-full border-2 rounded-md pl-10 pr-4 py-2 focus:border-gray-400 focus:outline-none focus:shadow-outline"-->
<!--               type="text" placeholder="Search">-->
<!--    </div>-->

<!--    <a href="#" class="w-12/12 sm:w-2/12 ml-4 mt-4 mr-4 sm:mr-0 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-red-300 hover:bg-red-400">-->
<!--        Search by-->
<!--    </a>-->

<!--    <div class="dropdown inline-block relative ml-4 mt-4 mr-4 w-12/12 sm:w-3/12">-->
<!--        <button class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded flex items-center">-->
<!--            <span class="mr-1">all</span>-->
<!--            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">-->
<!--                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>-->
<!--            </svg>-->
<!--        </button>-->
<!--        <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">-->
<!--            <li class="">-->
<!--                <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">-->
<!--                    all-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="">-->
<!--                <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">-->
<!--                    getting started-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="">-->
<!--                <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">-->
<!--                    articles-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="">-->
<!--                <a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">-->
<!--                    puzzles-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->

</div>
